@{
    ViewData["Title"] = "Employee Profile";
}

<h1>Employee Profile</h1>
<p>ID: @ViewBag.Employee.EmployeeId</p>
<p>Full Name: @ViewBag.Employee.FullName</p>
<p>Department: @ViewBag.Employee.Department</p>